body {
  margin: 0;
  font-family: 'Roboto';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#footer{
  background-color: #0E76BC;
  width: 100%;
  min-height: 120px;
  padding: 15px;
  font-size: 15px;
  font-weight: 300;
}

#footer h4 {
  font-size: 20px;
  font-weight: 700, Bold;
}

#footer {
  color: #fff;
}

div.icons-list .icon{
  margin-right: 10px;
}

div.icons-list .icon img{
  height: 34px;
}

div.icons-list .icon:hover{
  text-decoration: none;
  opacity: 0.7;
  color: #fff;
}

.android-icon{
  background-color: #004E83;
  padding: 3px;
  border-radius: 5px;
}

#footer hr {
  height: 2px;
  background-color: #fff;
  opacity: 1;
}
@media (min-width: 768px) {
  .app_screenshots {
    width: 80%;
  }

  #main .header{
    background-image: url("./assets/bg_web.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: calc(100vh - 120px);
    width: 100vw;
  }
  #main .header .c1{
    height: 30vh;
  }
  #main .header .c2{
    height: 70%;
  }
  #dplus {
    height: 65px;
  }
}

@media (max-width: 768px) {
  .app_screenshots {
    width: 80%;
  }

  #main .header{
    background-image: url("./assets/bg_mobile.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  #dplus {
    height: 60px;
  }
}

